<div class="header-logo-background">
    <a href="index.html"><img class="nav-title-logo float-left" src="images/mcmaster-logo.png"></a>
    <div class="header-account-dropdown-button" onclick="headerAccountDropdownClicked()">
        <p class="header-account-dropdown-button-text">John Smith</p>
        <span class="header-account-dropdown-button-arrow">▾</span>
        
        <table class="header-account-dropdown">
            <tr class="header-account-dropdown-row">
                <td class="header-account-dropdown-text">Account Settings</td>
            </tr>
            <tr class="header-account-dropdown-row">
                <td class="header-account-dropdown-text">My Profile</td>
            </tr>
            <tr class="header-account-dropdown-row">
                <td class="header-account-dropdown-text">Log Out</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
</div>

<div class="header-nav-background">
    <ul class="nav-list">
        <a href="index.html"><li class="nav-home">Home</li></a>
        <a href="viewschedule.html"><li class="nav-view-schedule">View Schedule</li></a>
        <a href="searchcourses.html"><li class="nav-search-courses">Search Courses</li></a>
        <a href="enroll.html"><li class="nav-enroll-drop">Enroll/Drop</li></a>
        <a href="http://www.mcmaster.ca/mosaic/contacts.html" target="_blank"><li class="nav-contact">Support <img class="new-page-icon" src="images/icon_new_page.png"></li></a>
    </ul>
</div>

<!-- Defined in global.js, calls functions that require header to be loaded -->
<script>headerFinishedLoading()</script>
