/***************************************
STANDARDIZE http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
***************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*=============== End Standardize ==================*/


/***********************************************
    LESS Variables / Functions
***********************************************/
.default-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    line-height: 1.7em;
    color: @dark-text;
}
.vendor(@property, @value) {
    -webkit-@{property}: @value;
       -moz-@{property}: @value;
        -ms-@{property}: @value;
         -o-@{property}: @value;
            @{property}: @value;
}

@maroon: #990033;
@maroon-hover: #6f072a;

@light-green: #95e5bd;
@light-green-hover: #75cea2;  

@light-red: #f89e9e;

@link-light: #efefef;
@link-light-hover: #dedede;
@link-dark: #4760cb;
@link-dark-hover: #3a4ea0;

@background-gray: #e6e6e6;
@background-gray-border: 2px solid #bcbcbc;
@background-gray-border-color: #bcbcbc;

@dark-text: #2E2E2E;
@medium-text: #848484;
@light-text: #eeeeee;

/***********************************************
    Text
***********************************************/
p, a, h1, h2, h3, h4, h5, h6, ul, td {
    .default-font;
    text-align: left;
}
h1 {
    font-size: 2em;
}
strong {
    font-weight: 800;
}
em {
    font-style: italic;
}
.content-heading {
    font-size: 32px;
    font-weight: 600;
}

/***********************************************
    Links
***********************************************/
a {
    text-decoration: none;
    color: @link-dark;
    .vendor(transition, color 0.3s ease-out);
}
a:hover, a:focus {
    color: @link-dark-hover;
    cursor: pointer;
}

/***********************************************
    Layout
***********************************************/
body {
    background-color: #fafafa;
    min-width: 900px;
    text-align: center;
}
.content {
    position: relative;
    margin: 0 auto;
    padding: 50px;
    max-width: 900px;
    min-width: 900px;
    margin-top: 0px;
}
.center-container {
    display: inline-block;
    text-align: left;
    margin-top: 40px;
}
.imgcontainer {
    position:relative;



    width:50%;
    top:5px

}
.overlaytext {
    position:absolute;
    top:45%; 
    left:7%;
    width:100%;
    padding:4px;
    text-align: left;
}


.col3{
    width:30%;
    height:200px;
    padding-top:10px;
    float:left;
    background-color:#A2A9AB;
}
.spacer{
    width:5%;
    float:left;
}
.thinborder{
    border: 1px solid black;
}


/***********************************************
     Button (ghost)
***********************************************/
.ghost-button {
    padding: 4px 16px;
    width: auto;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: @maroon;
    background: none;
    border-radius: 3px;
    border: 2px solid @maroon;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.ghost-button:hover {
    background-color: #e3e3e3;
    color: @maroon;
}
.ghost-button-big {
    padding: 12px 32px;
    margin: 6px;
    font-size: 18px;
}
.highlighted-button {
    color: #2d6955;
    border: 2px solid #2d6955;
    background-color: @light-green;
}
.highlighted-button:hover {
    background-color: @light-green-hover;
    color: #2d6955;
}
.highlighted-red-button {
    background-color: #ef8383;
    border: 2px solid #642929;
    color: #642929;
}
.highlighted-red-button:hover {
    background-color: #c16767;
    color: #642929;
}
.disabled-button {
    border-color: #c6c6c6;
    color: #c6c6c6;
}
.disabled-button:hover {
    cursor: default;
    background: none;
    color: #c6c6c6;
    border-color: #c6c6c6;
}
.disabled-button:visited {
    color: #c6c6c6;
    border-color: #c6c6c6;
}

/***********************************************
    Message box
***********************************************/
.message-box {
    opacity: 0;
    background-color: #fff;
    border-radius: 3px;
    max-width: 400px;
    padding: 3px 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

/***********************************************
* Accounts picker 
***********************************************/
.select-account-container {
    width: 400px;
    margin: 100px auto 0 auto;
}
.select-account-button {
    width: 400px;
    margin-bottom: 50px;
    height: 50px;
    line-height: 40px;
    padding: 3px 0 0 0;
}
.select-account-table {
    max-height: 370px;
    width: 400px;
    z-index: 100;
    position: absolute;
    top: 227px;
    background-color: white;
    overflow: scroll;
    border-radius: 3px;
    visibility: hidden;
    -webkit-box-shadow: 0px 12px 69px -2px rgba(74,74,74,0.35);
    -moz-box-shadow: 0px 12px 69px -2px rgba(74,74,74,0.35);
    box-shadow: 0px 12px 69px -2px rgba(74,74,74,0.35);
}
.select-account-row {
    height: 60px;
    line-height: 40px;
    border: 2px solid @medium-text;
    border-radius: 3px;
}
.select-account-row:hover {
    background-color: #e0e0e0;
}
.select-account-column-1 {
    text-align: left;
    padding: 0 5%;
    vertical-align: middle;
}
.select-account-column-2 {
    text-align: right;
    padding: 0 5%;
    vertical-align: middle;
}
.select-account-span {
    margin: 0 5%;
    padding: 0;
}

/***********************************************
* Confirm popup 
***********************************************/
.confirm-popup {
    visibility: hidden;
    position: absolute;
    top: 200px;
    left: 325px;
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 12px 69px -2px rgba(74,74,74,0.55);
    -moz-box-shadow: 0px 12px 69px -2px rgba(74,74,74,0.55);
    box-shadow: 0px 12px 69px -2px rgba(74,74,74,0.55);
}
.popup-confirm-button {
    background-color: @maroon;
    color: #666;
}
.popup-confirm-button:hover {
    background-color: #32c174;
    color: #666;
}
.popup-button-container {
    float: right;
}

/***********************************************
    Header
***********************************************/
.header-logo-background {
    width: 100%;
    height: 120px;
    text-align: left;
}
.header-logo-link {
    text-align: left;
}
.header-nav-background {
    width: 100%;
    height: 50px;
    background-color: @maroon;
}
.nav-list {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    text-align: justify;

    /* text is red */
    a {
        color: @link-light;
        font-weight: 100;
        font-size: 16px;
    }
    a:hover {
        color: @link-light-hover;
    }
    
    /* links on right of nav */
    li {
        display: inline-block;
        margin: 0 5px;
        padding: 13px 5px 0 5px;
        height: 100%;
        text-align: center;
        .vendor(transition, background-color 0.3s ease-in-out);
    }
    li:hover {
        background-color: @maroon-hover;
    }
    
    /* highlight bottom of current page */
    .current-page {
        border-bottom: 4px solid @link-light;
        .vendor(transition, border-bottom 0.3s ease-in-out);
    }
    .current-page:hover {
        border-bottom: 4px solid @link-light-hover;
    }
}
.nav-list:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.nav-title-logo {
    height: 80px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 34px;
}
.header-logo-title-text {
    position: absolute;
    padding-top: 15px;
    font-size: 42px;
    width: 100%;
    text-align: center;
}
.header-account-dropdown-button {
    float: right;
    margin-right: 34px;
    margin-top: 34px;
    padding-left: 20px;
    padding-top: 8px;
    width: 300px;
    height: 40px;
    background-color: @background-gray;
}
.header-account-dropdown-button-text {
    color: @medium-text
}
.header-account-dropdown-button-arrow {
    float: right;
    color: @medium-text;
    margin-right: 20px;
    margin-top: -22px;
}
.header-account-dropdown {
    position: relative;
    visibility: hidden;
    top: 5px;
    left: -20px;
    width: 300px;
}
.header-account-dropdown-row {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
}
.header-account-dropdown-row:hover {
    background-color: #ebebeb;
}
.header-account-dropdown-text {
    padding: 6px 20px;
}

/***********************************************
    Search Criteria
***********************************************/
.search-criteria-container {
    padding-top: 20px;
	background-color: @background-gray;
    border: @background-gray-border;
}
.search-criteria-row {
    clear: both;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
}
.search-criteria-label {
    margin-top: 3px;
    font-weight: 600;
}
.search-criteria-widget-container {
    display: inline-block;
    height: 90px;
    width: 200px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 3px;
    border: @background-gray-border;
}
.search-criteria-select {
    height: 30px;
    width: 175px;
    padding: 10px;
    font-size: 14px;
    -webkit-appearance: menulist-button;
    
}
.search-criteria-or {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: @background-gray-border-color;
}
.search-criteria-number-left {
    position: relative;
    left: 0;
    top: 5px;
}
.search-criteria-number {
    font-weight: 600;
    line-height: 1.8em;
    font-size: 32px;
    color: @background-gray-border-color;
    text-align: center;
}
.search-criteria-number-container {
    float: left;
    border: @background-gray-border;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 30px;
}
#search-criteria-level-label,
#search-criteria-code-label {
    color: @background-gray-border-color;
}
.horizontal-line {
    height: 2px;
    background-color: @background-gray-border-color;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
}
#search-criteria-subject-container {
    border-color: @dark-text;
}
#search-criteria-number1 {
    color: @dark-text;
}
#search-criteria-number1-container {
    border-color: @dark-text;
}

/***********************************************
* Exam Schedule table 
***********************************************/
.exam-table-row {
    height: 104px;
}
.exam-table-cell {
    font-size: 14px;
    border: @light-border;
    padding: 5px;
    width: 60px;
    max-width: 60px;
    height: 104px;
    text-align: right;
    vertical-align: top;
}
.weekend {
    background-color: @background-gray;
}
.exam-center-text {
    text-align: center;
    vertical-align: middle;
    line-height: 1.2em;
    margin-top: 2px;
}
.day-text-top-right {
    text-align: right;
    vertical-align: top;
}
.special-day {
    background-color: #a9ead4;
}
.exam-month-heading {
    float: right;
    font-weight: 200;
    margin-top: -54px;
}
.exam-table-day-secondary-month {
    color: #bababa;
}
.exam-day-cell {
    background-color: #b1e5f8;
}
.multiple-exams-cell {
    background-color: @light-red;
    .vendor(transition, background-color 0.3s ease-in-out);
}
.multiple-exams-cell:hover {
    background-color: #e58989;
    cursor: pointer;
}
.multiple-exams-popup-container {
    position: relative;
    visibility: hidden;
}
.multiple-exams-popup {
    border-radius: 3px;
    padding: 10px;
    width: 220px;
    display: block;
    position: absolute;
    bottom: 48px;
    left: -50px;
    max-height: 300px;
    overflow: scroll;
    box-shadow: 0px 0px 70px 4px rgba(0,0,0,0.28);
    background-color: #b1e5f8;    
}
.multiple-exam-course {
    font-weight: 600;
}
.multiple-exam-time {
    font-style: italic;
}
.multiple-exam-location {
    
}
.multiple-exam-separator {
    border: 1px solid @background-gray-border-color;
}
.arrow-down {
    position: absolute;
    margin: 0;
    top: -48px;
    left: 30px;
    width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #b1e5f8;
}

/***********************************************
* Weekly Schedule table 
***********************************************/
.schedule-dropdown {
    margin-left: 2px;
    margin-right: 10px;
    width: 200px;
    font-size: 24px;
    background-color: @background-gray;
}
.weekly-table-heading {
    font-weight: 600;
    border: @background-gray-border;
    width: 70px;
    text-align: center;
    padding: 5px;
}
.weekly-table-day-heading {
    font-size: 12px;
    background-color: #ebebeb;
    border: @background-gray-border;
    text-align: center;
    width: 70px;
    color: #666;
    font-weight: 600;
}
.weekly-table-row {
    height: 30px;
}
.weekly-table-time {
    font-size: 14px;
    border: @light-border;
    text-align: center;
    vertical-align: middle;
    background-color: #ededed;
}
.weekly-table-time-text {
    font-size: 12px;
    border: @light-border;
    text-align: center;
    vertical-align: middle;
}
.weekly-lecture-cell {
    background-color: #b1e5f8;
}
.weekly-tutorial-cell {
    background-color: #eae49e;
}
.weekly-lab-cell {
    background-color: #cdc7fa;
}

/***********************************************
* Courses table 
***********************************************/
.no-results {
    margin-top: 0px;
    border: @background-gray-border;
    background-color: @background-gray;
    width: 100%;
    height: 200px;
}
.no-results-text {
    font-size: 32px;
    text-align: center;
    margin-top: 70px;
    color: @maroon;
}

/***********************************************
* Courses table 
***********************************************/
@light-border: 1px solid #cecece;
@light-medium-border: 2px solid #d4d4d4;
@medium-border: 2px solid #bababa;

/* table / rows */
.course-table {
    width: 100%;
    border: @background-gray-border;
}
.course-table-header-row {
    background-color: @background-gray;
}
.course-table-row-bottom {
    border-bottom: @background-gray-border;;
}
.course-table-row {
    height: 30px;
}
.course-table-highlighted-row {
    background-color: @light-green;
}
.course-table-highlighted-red-row {
    background-color: @light-red;
}
/* header row */
.course-table-heading {
    font-weight: 600;
    border: @background-gray-border;;
    padding: 5px;
}
.course-table-day-heading {
    font-size: 12px;
    background-color: #f0f0f0;
    border: @background-gray-border;;
    text-align: center;
    width: 70px;
    color: #666;
    font-weight: 600;
}

/* Content rows */
.course-table-code {
    text-decoration: underline;
    padding-left: 5px;
    a {
        color: @dark-text;
        font-weight: 600;
    }
}
.course-table-title {
    padding-left: 5px;
    max-width: 50px;
    min-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.course-table-professor {
    font-style: italic;
    padding-left: 5px;
}
.course-table-dropdown {
    margin-left: 5px;
    margin-right: -2px;
    width: 85px;
}
.course-table-dropdown-row {
    border-top: @light-border;
    border-bottom: @light-border;
    border-left: @medium-border;
    border-right: @light-medium-border;
}
.course-table-day-text {
    font-size: 11px;
    border: @light-border;
    text-align: center;
}
.course-table-enrolled {
    text-align: center;
    font-size: 14px;
    border-left: @medium-border;
    border-right: @medium-border;
    border-bottom: @background-gray-border;
    vertical-align: middle;
}
.course-table-action {
    vertical-align: middle;
    border-bottom: @background-gray-border;
}
.course-table-action-button {
    display: block;
    padding: 3px 6px 1px 6px;
    margin: 5px;
    vertical-align: middle;
}

/***********************************************
* Breadcrumbs 
***********************************************/
.breadcrumb {
    display: block;
    margin-bottom: 40px;
    height: 46px;
}
.breadcrumb-home-img {    
    width: 28px;
    margin-top: -1px;
    opacity: 0.5;
}
.breadcrumb li {
    float: left;
    margin: 0 3px;
}
.breadcrumb li {
    height: 100%;
    border-radius: 2px;
    background-color: @background-gray;
    padding: 10px 30px;
    position: relative;
    display: block;
    float: left;
    .vendor(transition, background-color 0.3s ease-in-out);
}
.breadcrumb a {
    color: @medium-text;
}
.breadcrumb li:hover {
    background-color: #ccc;
    cursor: pointer;
}
.breadcrumb li.breadcrumb-current {
    font-weight: 500;
}
.breadcrumb li.breadcrumb-current:hover {
    background-color: @background-gray;
    cursor: default;
}
